{% extends 'rango/base.html' %}

{% load staticfiles %}
{% block title %}
	About
{% endblock %}

{% block body_block %}

        <h1>Rango says...</h1>
        <div>
            This tutorial has been put together by <strong> {{ authorname }} </strong>! <br /> 
        </div>
        <div>
            Static: <br />
            <img src="{% static "images/teemo.jpg" %}" alt="Picture of Teemo" height = "50" width = "50"/>
            Media: <br />
            <img src="{{ MEDIA_URL }}diana.jpg" alt="Picture of Diana" height = "50" width = "50" />

        </div>
{% endblock %}
