{% extends 'rango/base.html' %}
{% block title%}
  Add Page
{% endblock %}

{% block body_block %}
	<div class="hero-unit">
				{% if category %}
        <h1>Add a Page</h1>
        <div class="container">
            <form class="span6" id="page_form" method="post" action="/rango/category/{{category.slug}}/add_page/">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}<br />
                    {{ field }}<br />
                {% endfor %}
                <button class="btn btn-primary" type="submit" name="submit">Create Page</button>
            </form>
        </div>
				{% else %}
					The specified category does not exist!

				{% endif %}

	</div>
{% endblock %}
