<!DOCTYPE html>
<html> 
	<head> 
		<title>Rango - {% block title %}How to Tango with Django! {% endblock %}</title> 
	</head>
	<body> 
		<div>
			{% block body_block %}{% endblock %} 
		</div>

		<hr />

		<div>
			<ul>
				{% if user.is_authenticated %}
				  <li><a href="/rango/restricted/">Restricted Here</a><br /></li>
				  <li><a href="/rango/logout/">Logout</a><br /></li>
				  <li><a href="/rango/add_category/">Add a New Category</a><br /></li>
				{% else %}
				  <li><a href="/rango/register/">Register Here</a><br /></li>
				  <li><a href="/rango/login/">Login</a><br /></li>
				{% endif %}

				<li><a href="/rango/about/">About</a><br /></li>
				<li><a href="/rango/">Homepage</a><br /></li>

			</ul>
		</div>

	</body> 
</html>
