{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title%}
	Index
{% endblock %}

{% block body_block %}

	<div class="hero-unit">
				{% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
				{% else %}
        <h1>Rango says... hello world!</h1>
				{% endif %}
	</div>
				


	<div class="row-fluid">
        <div class="span6">
        {% if categories %}
				<h2>Most Liked Categories</h2>
				<ul>
					{% for category in categories %}
						<li> 
							<a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
						</li>
					{% endfor %}

				</ul>
				{% else %}
					<strong> There are no categories present. </strong>
				{% endif %}
				</div>


        <div class="span6">
        {% if pages %}
				<h2>Most Viewd Pages</h2>
				<ul>
					{% for page in pages %}
						<li> 
							<a href="{{ page.url }}">{{ page.title }}</a> - {{page.category}} ({{ page.views }} view(s))
						</li>
					{% endfor %}

				</ul>
				{% else %}
					<strong> There are no pages present. </strong>
				{% endif %}
				</div>

        <img src="{% static "images/rango.jpg" %}" alt="Picture of Teemo" height = "50" width = "50" />
{% endblock %}
